<!DOCTYPE html>
<html>

<head>
    <title>Hospital Search</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
</head>

<body>
    <div class="box">
        <div class="container">
            <h1>Healthcare Price Transparency</h1>
        </div>
        <div class="container2">
            <ul>
                <li><a href="/HPT">Home</a></li>
                <li><a href="/HPT/text">Disease Estimates</a></li>
                <li><a href="/HPT/text2">Procedure</a></li>
                <li><a href="/HPT/voice">Voice</a></li>
                <li><a href="/HPT/about">About</a></li>
              </ul>
        </div>
        <center>
            <h1>Find the Best Hospital for Your Disease</h1>
            <form method="post">
                <label for="disease">Enter a disease: </label>
                <input type="text" name="disease" required>
                <input type="submit" value="Search">
            </form>

            {% if hospitals %}
                <h2 style="margin-left: 30%;">Results for {{ disease }}</h2>
            <table border="1">
                <thead>
                    <tr>
                        <th>Hospital Name</th>
                        <th>Average Cost</th>
                        <th>Rating</th>
                        <th>Severity</th>
                        <th>Insurance Coverage</th>
                    </tr>
                </thead>
                <tbody>
                    {% for hospital, score in hospitals %}
                    <tr>
                        <td>{{ hospital['hospital_name'] }}</td>
                        <td>Rs.{{ hospital['diseases'][disease]['cost'] }}</td>
                        <td>{{ hospital['diseases'][disease]['rating'] }}</td>
                        <td>{{ hospital['diseases'][disease]['severity'] }}</td>
                        <td>{{ hospital['diseases'][disease]['insurance_coverage']}}%</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </center>
</body>

</html>
